@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Cairo', sans-serif;
  background-color: #050505;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-x: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-title {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  font-size: 100px;
}

.section-title span {
  color: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.our-team,
.our-message,
.our-mission,
.our-goal,
.rate-us {
  width: 100%;
  height: auto;
}

.animate__animated.animate__fadeIn {
  animation: fadeIn infinite;
  /* referring directly to the animation's @keyframe declaration */
  --animate-duration: 2s;
}


@media (max-width:576px) {
  .section-title {
    font-size: 36px;
  }
  .language a img{
    width: 25px;
    height: 25px;
  }
}

/* ================================== Start preloader ================================== */
#preloader {
  background: #1E242A;
  height: 100vh !important;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: hidden;
}

.logo-img-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perloader-logo {
  position: absolute;
  left: 0;
  top: 40%;
  visibility: hidden;
  animation: perloader-logo 5s 1s ease-in-out;
}

@keyframes perloader-logo {
  0% {
    visibility: visible;

    left: -50px;
    top: 40%;
  }

  25% {
    top: 20%;
  }

  50% {
    top: 40%;
  }

  75% {
    top: 20%;
  }

  100% {
    left: 100%;
    top: 40%;
  }
}

/* @media (max-width:576px) {

  } */
/* ================================== End preloader ================================== */


/*  */

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E242A;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  overflow: hidden;
  cursor: pointer;
}


/* #button:active {
  background-color: #555;
} */
#button.show {
  opacity: 1;
  visibility: visible;
}


/*  */


/* ================================== Start Navbar ==================================--> */
.navbar {
  display: none;
  transition: 3s;
  background-color: transparent !important;
}

.lang {
  position: fixed;
  right: 150px;
  top: 25px;
  visibility: hidden;
}

.fixed {
  background-color: rgba(43, 47, 53, 0.95);
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: background-color 400ms ease-in-out;
  -o-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}

.nav-item .active {
  color: #E78E2A !important;
}

@media (max-width:992px) {
  .navbar-nav-bg {
    width: 100% !important;
    height: 260px !important;
    background-color: rgba(43, 47, 53, 0.95) !important;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-nav-bg::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 108%;
    height: 260px !important;
    background-color: rgba(43, 47, 53, 0.95) !important;
    z-index: -9999;
  }
}


.language>:first-child {
  display: flex !important;
  align-items: center !important;
  flex-direction: row !important;
}

.language {
  position: relative;
  width: 100%;
}

.nav-item a {
  transition: 0.3s;
  padding-bottom: 0px;
  color: white;
}

.nav-item :not(.lang) {
  margin-right: 31px;
}

.nav-item>:last-child span {
  display: none;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-item span {
  width: 0;
  height: 1.2px;
  border-radius: 8px;
  background-color: #E78E2A;
  margin-left: 8px;
}

.nav-item:hover a {
  color: #E78E2A;
}

.nav-item:hover span {
  animation: nav-item-animation 0.4s both;
}

.fa-bars {
  color: white;
  font-size: 22px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

@media(max-width:1200px) {
  .lang {
    right: 40px;
  }
}

@media(max-width:992px) {
  .lang {
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    right: unset;
  }

  .navbar-nav {
    position: absolute;
    top: 60px;
  }
}

@keyframes nav-item-animation {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 47px);

  }
}

@media(max-width:576px) {
  .lang {
    position: absolute;
    left: 80%;
    top: -52px;
  }
}

/* ================================== End Navbar ==================================--> */

/* ================================== Start Header ================================== */
.slider-container {
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
}

.slider-container h1 span {
  color: #F0892B;
}

.slider-container h1 {
  color: #fff;
  font-size: 6em;
  letter-spacing: 5px;
  position: relative;
  z-index: 100;
  text-align: center;
}

.slider-container::after {
  background-color: #000;
  content: '';
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transform: scale(1.15);
  transition: opacity .6s ease;
}

.slide::before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(180deg, #00000000 0%, #050505 98%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.slide.active {
  animation: grow 4s linear forwards;
  opacity: 1;
}

@keyframes grow {

  0%,
  20% {
    transform: scale(1);
  }

  75%,
  100% {
    transform: scale(1.15);
  }
}

.controls-container {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  z-index: 2;
}

.control {
  background-color: #fff;
  cursor: pointer;
  opacity: 0.5;
  margin: 6px;
  height: 40px;
  width: 5px;
  transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
}

.control.active,
.control:hover {
  background-color: #fff;
  opacity: 1;
  transform: scale(1.2);
}

.control {
  position: relative;
}

.elementor-background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(180deg, #00000000 0%, #050505 98%);
  opacity: 1;
  /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
}

.fake-box {
  width: 100%;
  height: 100vh;
}

@media (max-width:576px) {
  .slider-container h1 {
    font-size: 2.5em;
  }
}

/* ================================== End Header ================================== */

/* ================================== Start Our-Team section================================== */
.our-team {
  width: 100%;
  margin-top: 85px;
}

.our-team-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.our-team-content>:first-child h1 {
  color: #E78E2A;
}

.our-team-content>:first-child p {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  max-width: 600px;
}

.our-team-content>:nth-child(2) {
  width: 500px;
}

.our-team-content>:first-child>:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.our-team-div-animation {
  width: 75%;
  height: 3px;
  border-radius: 8px;
  background-color: #E78E2A;
  animation: our-team-animation 2s infinite;
}

@keyframes our-team-animation {
  0% {
    width: 75%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 75%;
  }
}

@media (max-width:992px) {
  .our-team-content {
    flex-direction: column-reverse;
  }

  .our-team-content>:nth-child(2) {
    width: 100%;
  }
}

@media (max-width:567px) {
  .our-team {
    margin-top: 0px;
  }
}

/* ================================== End Our-Team section================================== */

/* ================================== Start Rate us section ==================================  */
.rate-us {
  width: 100%;

}

.rate-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.rate-us-content>:nth-child(2) h1 {
  color: #E78E2A;
}

.rate-us-content>:nth-child(2) p {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  max-width: 600px;
}

.rate-us-content>:nth-child(2)>:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.rate-us-div-animation {
  width: 75%;
  height: 3px;
  border-radius: 8px;
  background-color: #E78E2A;
  animation: rate-us-animation 2s infinite;
}

.our-mission-img-container {
  position: relative;
}

@keyframes rate-us-animation {
  0% {
    width: 75%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 75%;
  }
}

@media (max-width:992px) {
  .rate-us-content {
    flex-direction: column-reverse;
  }

  .rate-us-img-container img {
    width: 350px;
  }
}

/* ================================== End Rate us section ==================================  */

/* ================================== Start our-services ================================== */
/* CARD COMPONENT */
.our-services {
  width: 100%;
  height: auto;
  background-color: #000;
}



.section-title-services,
.section-title-contact-us {
  color: #E78E2A;
  font-size: 35px;
  letter-spacing: 1px;
  font-size: 100px;
  text-align: center;
  margin-bottom: 75px;
  padding-top: 75px;
}



.section-title-services span,
.section-title-contact-us span {
  color: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.card {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  margin: 20px auto;
  padding: 0;
}

.card>* {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%);
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  /* Prefijo necesario para Firefox  */
  color: #E78E2A;
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content;
  /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}


/* @media (any-hover: hover) and (any-pointer: fine) { */
.card__content {
  transform: translateY(62%);
  transition: transform 500ms ease-out;
  transition-delay: 500ms;
}

.card__title::after {
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 1000ms ease-in, transform 500ms ease-out;
  transition-delay: 500ms;
  transform-origin: right;
}

.card__description {
  color: #30A3DE;
}

.card__background {
  transition: transform 500ms ease-in;
}

.card__content--container> :not(.card__title),
.card__button {
  opacity: 0;
  transition: transform 500ms ease-out, opacity 500ms ease-out;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
  transition: transform 500ms ease-in;
}

.card:hover .card__content,
.card:focus-within .card__content {
  transform: translateY(0);
  transition: transform 500ms ease-in;
}

.card:focus-within .card__content {
  transition-duration: 0ms;
}

.card:hover .card__background,
.card:focus-within .card__background {
  transform: scale(1.3);
}

.card:hover .card__content--container> :not(.card__title),
.card:hover .card__button,
.card:focus-within .card__content--container> :not(.card__title),
.card:focus-within .card__button {
  opacity: 1;
  transition: opacity 500ms ease-in;
  transition-delay: 500ms;
}

.card:hover .card__title::after,
.card:focus-within .card__title::after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
  transition: opacity 500ms ease-in, transform 500ms ease-in;
  transition-delay: 500ms;
}

@media (max-width:576px) {
  .section-title-services {
    font-size: 36px;
  }
}

/* } */
/* ================================== End our-services ================================== */

/*  ================================== Start Landing Counter Section  ==================================*/
.landing-counter {
  width: 100%;
  min-height: 173px;
  background: linear-gradient(91.13deg,
      rgba(255, 255, 255, 0.12) 0.15%,
      rgba(255, 255, 255, 0.02) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(17.5px);
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.total-orders,
.number-of-clients,
.number-of-services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

.number-of-clients {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.total-orders> :nth-child(2),
.number-of-clients> :nth-child(2),
.number-of-services> :nth-child(2) {
  padding-left: 1rem;
}

.total-orders> :nth-child(2)>p,
.number-of-clients> :nth-child(2)>P,
.number-of-services> :nth-child(2)>p {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
  padding-left: 5px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}

.counter i {
  font-size: 30px;
  color: white;
}

@media (max-width: 768px) {
  .landing-counter {
    flex-direction: column;
    padding: 20px 0;
  }

  .total-orders,
  .number-of-clients,
  .number-of-services {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    width: 80%;
  }

  .number-of-clients {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }

  .number-of-services {
    padding-top: 25px;
  }
}

/*  ================================== End Landing Counter Section  ================================== */

/* ================================== Start Contact us ==================================  */
/* ///// inputs /////*/
.contact-us {
  margin-bottom: 60px;
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .section-title-contact-us {
    font-size: 36px;
  }
}

.styled-input label {
  color: #999;
  padding: 0.7rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 20px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus~span,
textarea:focus~span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: left;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
    0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
    0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type=checkbox]+label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked+label {
  color: #f00;
  font-style: normal;
}

/* ================================== End Contact us ==================================  */

/*  ================================== Start footer ================================== */
footer {
  /* background-color: #EEEEEE; */
  padding: 40px 0;
}

.footer-logo h4 {
  margin: 8px 0;
  color: #eee;
}

.footer-logo h4 span {
  color: #E78E2A;
}

.footer-content {
  display: flex;
}

.location p {
  margin-bottom: 0;
  padding-left: 4px;
  color: #eee;
}

.location {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.social-media-links {
  position: relative;
  margin-left: 130px;
}

.social-media-links-ul {
  display: flex;
  padding-left: 0;
  align-items: center;
}

.social-media-links h3 {
  padding-left: 8px;
  color: #eee;
}

.social-media-links-ul li {
  list-style: none;
  margin-left: 10px;
}
.social-media-links-ul li a img{
  width: 35px;
  height: 35px;
}





/* .social-media-links-ul li:nth-child(5) a:hover .fab {
  color: #007bb6;
} */
.mail a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail img {
  margin-top: 0px;
}

@media (max-width:768px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .social-media-links {
    margin-top: 30px;
    margin-left: 0;
  }
}

/*  ================================== End footer ================================== */

.our-team-content>:first-child,
.our-message-content>:nth-child(2),
.our-message-content>:first-child,
.our-mission-content>:first-child,
.rate-us-content>:first-child {
  align-self: flex-start;
}

.our-team-container,
.our-message-img-container,
.our-mission-img-container,
.our-goal-img-container,
.rate-us-img-container {
  width: 450px;
  height: 450px;
}

.our-team-container img,
.our-message-img-container img,
.our-mission-img-container img,
.our-goal-img-container img,
.rate-us-img-container img {
  width: 100% !important;
  border-radius: 8px;
}

@media (max-width:1200px) {

  .our-team-container,
  .our-message-img-container,
  .our-mission-img-container,
  .our-goal-img-container,
  .rate-us-img-container {
    width: auto;
    height: auto;
    margin-top: 30px;
  }

  .our-team-content,
  .our-message-content,
  .our-message-content,
  .our-message-content {
    flex-direction: column;
  }
}

@media (max-width:576px) {

  .our-message,
  .our-message,
  .our-mission,
  .rate-us {
    margin-top: 100px;
    margin-bottom: 120px;
  }

  .our-goal-img-container img {
    margin-bottom: 0;
  }
}

@media (max-width:1200px) {
  .our-team-content>:first-child, .our-message-content>:nth-child(2), .our-message-content>:first-child, .our-mission-content>:first-child, .rate-us-content>:first-child{
    align-self: center;
  }
  .rate-us-img-container {
    max-width: 500px;
  }
  .rate-us-content{
    margin-top: 50px;
    flex-direction: column-reverse;
  }
}